<footer id="footer" class="site-footer js-footer" role="contentinfo">
	<div class="site-footer--container">
		<div class="site-footer--logo">
			<i class="fab fa-stack-overflow fa-3x"></i>
		</div>
		<nav class="site-footer--nav">
			<div class="site-footer--col site-footer--col__visible js-footer-col" data-name="default">
				<h5 class="-title"><a href="" class="">Stack Overflow - Clone</a></h5>
				<ul class="-list js-primary-footer-links">
					<li class="-item"><a href="/questions" class=" -link">Questions</a></li>
					<li class="-item"><a href="" class=" -link">Jobs</a></li>
					<li class="-item"><a href="" class=" -link">Developer Jobs Directory</a></li>
					<li class="-item"><a href="" class=" -link">Salary Calculator</a></li>
					<li class="-item"><a href="" class=" -link">Help</a></li>
					<li class="-item"><a onclick='StackExchange.switchMobile("on")' class=" -link">Mobile</a></li>
				</ul>
			</div>
			<div class="site-footer--col site-footer--col__visible js-footer-col" data-name="default">
				<h5 class="-title"><a href="">Products</a></h5>
				<ul class="-list">
					<li class="-item"><a href="" class=" -link">Teams</a></li>
					<li class="-item"><a href="" class=" -link">Talent</a></li>
					<li class="-item"><a href="" class=" -link">Advertising</a></li>
					<li class="-item"><a href="" class=" -link">Enterprise</a></li>
				</ul>
			</div>
			<div class="site-footer--col site-footer--col__visible js-footer-col" data-name="default">
				<h5 class="-title"><a href="">Company</a></h5>
				<ul class="-list">
					<li class="-item"><a class=" -link" href="">About</a></li>
					<li class="-item"><a class=" -link" href="">Press</a></li>
					<li class="-item"><a class=" -link" href="">Work Here</a></li>
					<li class="-item"><a class=" -link" href="">Legal</a></li>
					<li class="-item"><a class=" -link" href="">Privacy Policy</a></li>
					<li class="-item"><a class="-link" href="">Terms of Service</a></li>
					<li class="-item"><a class=" -link" href="">Contact Us</a></li>
					<li class="-item" id="consent-footer-link"><a class="-link js-cookie-settings" href="#"
					                                              data-consent-popup-loader="footer">Cookie Settings</a>
					</li>
					<li class="-item"><a class=" -link" href="">Cookie Policy</a></li>
				</ul>
			</div>
		</nav>
		<div class="site-footer--copyright fs-fine">
			<ul class="-list">
				<li class="-item"><a class="-link" href="">Blog</a></li>
				<li class="-item"><a href="" class="-link">Facebook</a></li>
				<li class="-item"><a href="" class="-link">Twitter</a></li>
				<li class="-item"><a href="" class="-link">LinkedIn</a></li>
				<li class="-item"><a href="" class="-link">Instagram</a></li>
			</ul>
			<p class="mt-auto mb24">
				site design / logo &#169; 2021 Stack Exchange Inc; user contributions licensed under <a
					href="https://stackoverflow.com/help/licensing">cc by-sa</a>. <span id="svnrev">rev&nbsp;2021.11.12.40742</span>
			</p>
		</div>
	</div>
</footer>