{% load qa_tags %}

{% if request.user.is_authenticated %}
<header class="top-bar js-top-bar top-bar__network">
	<div class="wmx12 mx-auto d-flex ai-center h100" role="menubar">
		<div class="-main flex--item">
			<a href="#" class="left-sidebar-toggle p0 ai-center jc-center" role="menuitem" aria-haspopup="true"
			   aria-controls="left-sidebar" aria-expanded="false"><span class="ps-relative"></span></a>
			<div class="topbar-dialog leftnav-dialog js-leftnav-dialog dno">
				<div class="left-sidebar js-unpinned-left-sidebar" data-can-be="left-sidebar"
				     data-is-here-when="sm"></div>
			</div>
			<a href="{% url 'profile:home' %}" class="-logo">
				<i class="fab fa-stack-overflow fa-3x"></i>
				<div class="logo-name">StackOverFlow-<b>Clone</b></div>
			</a>
		</div>
		
		<ol class="overflow-x-auto ml-auto -secondary d-flex ai-center list-reset h100 user-logged-in"
		    role="presentation">
			<li class="-item searchbar-trigger"><a href="#" class="-link js-searchbar-trigger" role="button"
			                                       aria-label="Search" aria-haspopup="true" aria-controls="search"
			                                       title="Click to show search">
				<svg aria-hidden="true" class="svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18">
					<path d="m18 16.5-5.14-5.18h-.35a7 7 0 10-1.19 1.19v.35L16.5 18l1.5-1.5ZM12 7A5 5 0 112 7a5 5 0 0110 0Z"/>
				</svg>
			</a></li>
			
			
			<li class="-item">
				<a href="{% url 'profile:ActivityTabSummary' user.id user.username %}" class="my-profile ">
					<div class="gravatar-wrapper-24" title="Van"><img
							src="{% if request.user.profile.profile_photo %}{{request.user.profile.profile_photo.url}}{% endif %}"
							alt="" width="24" height="24" class="bar-sm -avatar js-avatar-me"></div>
					<span class="v-visible-sr">{{request.user.username}}</span>
					
					<div class="-rep js-header-rep" title="your reputation: {{request.user|calculate_reputation}}"
					     aria-hidden="true">{{request.user|calculate_reputation}}
					</div>
					<span class="v-visible-sr">, {{request.user|calculate_reputation}} reputation</span>
					<div class="-badges">
                                    <span title="{{request.user|calculateGoldBadges}} gold badges" aria-hidden="true">
                                        <span class="badge1">&#9679;</span>
                                        <span class="badgecount">{{request.user|calculateGoldBadges}}</span>
                                    </span>
						<span class="v-visible-sr">{{request.user|calculateGoldBadges}} gold badges</span>
						<span title="{{request.user|calculatSilvereBadges}} silver badges" aria-hidden="true">
                                        <span class="badge2">&#9679;</span>
                                        <span class="badgecount">{{request.user|calculatSilvereBadges}}</span>
                                    </span>
						<span class="v-visible-sr">{{request.user|calculatSilvereBadges}} silver badges</span>
						
						<span title="{{request.user|calculateBronzeBadges}} bronze badges" aria-hidden="true">
                                        <span class="badge3">&#9679;</span>
                                        <span class="badgecount">{{request.user|calculateBronzeBadges}}</span>
                                    </span>
						<span class="v-visible-sr">{{request.user|calculateBronzeBadges}} bronze badges</span>
					</div>
				</a>
			</li>
			
			<li class="-item inbox-button-item myInboxSVGOuter thisIsOuter">
				<a class="-link myInboxSVGLink readNotification" data-pk="{{ data.id }}" onClick="openInbox();">
					{% if showAlert %}<span class="button__badge">{{countUnreadNotifications}}</span>{% endif %}
					<i class="fa fa-inbox fa-2x iconInbox myInboxSVG" aria-hidden="true"></i>
					
					<span class="indicator-badge js-unread-count _important d-none">0</span>
				</a>
			</li>
			
			
			<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.addEventListener('load', function() {
            $('.readNotification').on('click',function(e) {
                e.preventDefault();
                let thisElement = $(this)
                $.ajax({
                    url:"{% url 'notification:read_All_Notifications' %}",
                    dataType: 'json',
                    method: 'get',
                    success: function(response) {
                        if (response.action == 'readedAll') {
                            $(`.button__badge`).text(``)
                            $(`.button__badge`).removeClass("button__badge");
                        }
                    }
                })
            })
        })
    })

			
			
			</script>
			
			
			<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.addEventListener('load', function() {
            $('.readPrivNotification').on('click',function(e) {
                e.preventDefault();
                let thisElement = $(this)
                $.ajax({
                    url:"{% url 'notification:read_All_Priv_Notifications' %}",
                    dataType: 'json',
                    method: 'get',
                    success: function(response) {
                        if (response.action == 'readedAllPrivNotifications') { // Accept Only
                            $(`.unseen-reputation`).text(``)
                            $(`.unseen-reputation`).removeClass("unseen-reputation");
                            // $(`.unreadDot`).text(``)

                            // $(`.button__badge`).text(`0`)
                        }
                    }
                })
            })
        })
    })

			
			
			</script>
			
			
			<li class="-item achievements-button-item achieveSVGOuter achThisIsOuter">
				<a href="#" class="-link readPrivNotification" onclick="openAchievementInbox();">
					<i class="fa fa-trophy fa-2x iconAchievements achieveSVG" aria-hidden="true"></i>
					{% if countUnreadPrivNotifications_1 %}<span class="unseen-reputation">+{{countUnreadPrivNotifications.countTheUnRead_Rep}}</span>{% endif %}
					<span class="indicator-badge js-unread-count _positive d-none">+0</span>
				</a>
			</li>
			
			{% if request.user.profile.access_review_queues %}
			<li class="-item review-button-item reviewSVGOuter revThisIsOuter">
				<a href="#" class="-link svg-icon iconReviewQueue" onclick="openReviewInbox();">
					<i class="fa fa-tasks fa-2x iconReviewQueue reviewSVG" aria-hidden="true"></i>
				</a>
			</li>
			{% endif %}
		
		
		</ol>
	
	</div>
</header>
{% else %}
<header class="top-bar js-top-bar top-bar__network">
	<div class="wmx12 mx-auto d-flex ai-center h100" role="menubar">
		<div class="-main flex--item">
			<a href="#" class="left-sidebar-toggle p0 ai-center jc-center js-left-sidebar-toggle" role="menuitem"
			   aria-haspopup="true" aria-controls="left-sidebar" aria-expanded="false"><span class="ps-relative"></span></a>
			<div class="topbar-dialog leftnav-dialog js-leftnav-dialog dno">
				<div class="left-sidebar js-unpinned-left-sidebar" data-can-be="left-sidebar"
				     data-is-here-when="sm"></div>
			</div>
			<a href="{% url 'profile:home' %}" class="-logo">
				<i class="fab fa-stack-overflow fa-3x"></i>
				<div class="logo-name">StackOverFlow-<b>Clone</b></div>
			</a>
		</div>
		
		<ol class="overflow-x-auto ml-auto -secondary d-flex ai-center list-reset h100 user-logged-out"
		    role="presentation">
			<li class="-ctas">
				<a href="{% url 'users:login_request' %}" class="login-link s-btn s-btn__filled py8" rel="nofollow">Log
					in</a>
				<a href="{% url 'users:signup_view' %}" class="login-link s-btn s-btn__primary py8">Sign up</a>
			</li>
			<li class="js-topbar-dialog-corral" role="presentation">
			</li>
		</ol>
	
	</div>
</header>
{% endif %}