{% extends 'profile/base.html' %}


{% block content %}


    <body class="unified-theme search-page">
    <div id="notify-container"></div>
    <div id="custom-header"></div>




    <div class="container">

{% include 'profile/left_sidebar.html' %}




        <div id="content" class="snippet-hidden">

            <div id="mainbar">
    <div class="d-flex mb24 jc-space-between fw-wrap ai-start">
            <h1 class="flex--item fl1 fs-headline1 mb0">
Search Results            </h1>
            <div class="d-flex ai-center fl1 jc-end ml32">
                <div class="ml12 aside-cta flex--item print:d-none">
                        <a href="{% url 'qa:new_question' %}" class="ws-nowrap s-btn s-btn__primary">
        Ask Question
    </a>

                </div>
            </div>
    </div>

<div class="mb8">Results tagged with <a href="{% url 'tagbadge:taggedItemsFrom_All' tag.id %}" class="post-tag mx2" title="" rel="tag">{{tag}}</a> </div>


        <div class="d-flex ai-center mb16">
            <div class="flex--item fl1 fs-body3 mr12">
                {{getAllQuestions.count}} result{{getAllQuestions.count|pluralize}}
            </div>
        </div>
        <div class="flush-left js-search-results">
                <div>

{% for question in getAllQuestions %}

	<div class="question-summary search-result" id="answer-id-53889311" data-position="1">
        <div class="statscontainer">
            <div class="stats">
                <div class="vote {% if question.is_answer_accepted %}answered-accepted{% endif %}">
                    <div class="votes ">
                        <span class="vote-count-post "><strong>{{question.calculate_UpVote_DownVote}}</strong></span>
                        <div class="viewcount">vote{{question.calculate_UpVote_DownVote|pluralize}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="summary">
            <div class="result-link">
            	<h3>
		        <a href="{{question.get_absolute_url}}" title="{{question.title}}" class="question-hyperlink">
		            {{question.title}}
		        </a>
				</h3>
            </div>

            <div class="excerpt">
                {{question.body|truncatechars:80}}
            </div>

            <div class="tags d-flex gs4 fw-wrap mt2 t-firebase t-firebase-hosting t-firebase-cli">
            	{% for tag in question.tags.all %}
                <a href="{% url 'tagbadge:taggedItemsFrom_All' tag.id %}" class="post-tag flex--item" title="show questions tagged &#39;{{tag}}&#39;" rel="tag">{{tag}}</a>
            	{% endfor %}
            </div>

            <div class="started float-right">
				asked <span title="2018-12-21 18:26:43Z" class="relativetime">{{question.date}}
				</span>
			</div>
		</div>
        </div>
    </div>

{% endfor %}



                </div>
        </div>
            <br class="cbt">

</div>


        </div>
    </div>




            {% include "profile/footer.html" %}


        
    <div id="onetrust-consent-sdk" class="d-none"></div>
    <div id="onetrust-banner-sdk" data-controller="s-modal"></div>
    <div id="ot-pc-content" class="d-none"></div>
    <div id="onetrust-style" class="d-none">&nbsp;</div>
    <div class="d-none js-consent-banner-version" data-consent-banner-version="baseline"></div>

    
    </body>
    </html>


{% endblock content %}