{% extends 'profile/base.html' %}
{% load humanize %}
{% load martortags %}

{% block content %}


<!DOCTYPE html>


    <html class="html__responsive ">

<style>

	a {
		text-decoration: none !important;
	}

	.slider {
	  padding: auto;
	  display: none;
	  /*background-color: lightblue;*/
	}

</style>

    <body class="unified-theme">
    <div id="notify-container"></div>
    <div id="custom-header"></div>
    <div class="container">



{% include 'profile/left_sidebar.html' %}


        <div id="content" class="snippet-hidden">
        	<div class="subheader">
    			<h1><a href="{{getAnswer.questionans.get_absolute_url}}#{{getAnswer.id}}" class="question-hyperlink">Return to Question</a></h1>
    		</div>
		<div class="js-revisions">

			{% for history in editHistory %}

            <div class="mb12 js-revision">
		        <div class="d-flex p4 ai-center gs4 bg-powder-100">
		            <div class="flex--item">
		                    <button type="button"
		                            class="s-btn s-btn__unset c-pointer openDiv" onclick="openSlide({{forloop.counter}})">
		                        <div class="d-flex ai-center py8 gs8 gsx fc-black-600 md:fd-column-reverse">
		                            <div class="flex--item">
		                                <svg aria-hidden="true" class="js-off-icon svg-icon iconArrowRightAlt" width="18" height="18" viewBox="0 0 18 18"><path d="M6.41 2 5 3.41 10.59 9 5 14.59 6.41 16l7-7-7-7Z"/></svg>
		                                <svg aria-hidden="true" class="js-on-icon d-none svg-icon iconArrowDownAlt" width="18" height="18" viewBox="0 0 18 18"><path d="m16.01 6.43-1.4-1.41L9 10.6 3.42 5l-1.4 1.42 7 7 7-7Z"/></svg>
		                            </div>
		                            <div class="flex--item w48 fs-headline1 fw-bold ta-left md:ta-center" title="revision 1">{{forloop.counter}}</div>
		                        </div>
		                    </button>
		            </div>
		            <div class="flex--item fl1 wmn1">
		                <div class="d-flex ai-center fw-wrap">
		                    <div class="flex--item">
		                        <span class="js-revision-comment"></span>
		                    </div>
		                </div>
		        		<div class="d-flex gs8 s-anchors s-anchors__muted fw-wrap pt8">
		                    <a href="{% url 'qa:edit_answer' getAnswer.id %}" class="flex--item" title="edit this revision">Edit</a>
		                    <a href="{{getAnswer.questionans.get_absolute_url}}#{{getAnswer.id}}"
		                       class="flex--item"
		                       title="link to this formatted revision">Link</a>
		                	<button type="button" class="flex--item s-btn s-btn__link js-full-link d-none">Full</button>
		        		</div>
				        <div class="d-none md:d-block mt8">
							<div class="s-user-card s-user-card__minimal">
						        <div class="s-user-card--time">
						            <time>Edited <span class="relativetime">{{history.history_date|naturaltime}}</span></time>
						        </div>

						        <a href="{{history.history_user.profile.get_absolute_url}}" class="s-avatar s-avatar__16 s-user-card--avatar" tabindex="-1" aria-hidden="true">
						        	<img src="{% if history.history_user.profile.profile_photo %}{{history.history_user.profile.profile_photo.url}}{% endif %}" class="s-avatar--image" alt="" />
						        </a>
						        <div class="s-user-card--info">
						        	<a href="{{history.history_user.profile.get_absolute_url}}" class="s-user-card--link lh-lg" >{{history.history_user}} <span class="ws-nowrap"></span></a>
						        </div>
							</div>
						</div>
		            </div>
		        </div>

		        <div id="panel-{{forloop.counter}}" class="slider">
		        	<div class="markdown-diff tex2jax_ignore">
                    <table class="full-diff ">
                    	<tr>
                    		<td class="s-prose content deleted"><div>{{history.prev_record.body|safe_markdown}}</div></td>

							<td class="s-prose content inserted"><div>{{history.next_record.body|safe_markdown}}</div></td>
						</tr>
					</table>
                </div>
        </div>
</div>

		{% endfor %}

		    	</div>
    		</div>
		</div>



<script>

	function openSlide(iD) {
		$(`#panel-${iD}`).slideToggle("fast");

	}

</script>


        </div>
    </div>


            {% include "profile/footer.html" %}
    <div id="onetrust-consent-sdk" class="d-none"></div>
    <div id="onetrust-banner-sdk" data-controller="s-modal"></div>
    <div id="ot-pc-content" class="d-none"></div>
    <div id="onetrust-style" class="d-none">&nbsp;</div>
    <div class="d-none js-consent-banner-version" data-consent-banner-version="baseline"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    </body>
    </html>

{% endblock content %}