{% extends "profile/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}



<!DOCTYPE html>


    <html class=" ">

    <head>

        <title>Edit - Stack Overflow</title>
        <link href="{% static 'MarkDown-Editor/plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
        <link href="{% static 'MarkDown-Editor/plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
        <link href="{% static 'MarkDown-Editor/martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />

<style>

    a {
        text-decoration: none !important;
    }

  .edit-review-message {
    padding: .5em;
    background-color: #FFFF99;
    color: grey;
  }

  .form-errors {
    padding: .5em;
    background-color: red;
    color: white;
  }

</style>

    </head>
    <body class="ask-page unified-theme">
    <div id="notify-container"></div>
    <div id="custom-header"></div>

    <div class="container">
            


{% include 'profile/left_sidebar.html' %}




        <div id="content" class="snippet-hidden">



<div class="ask-mainbar box-border" id="mainbar">

       <div class="edit-review-message">
            <p>Your edit will be placed in a queue until it is peer reviewed.</p>
                   <p class="mb0">We welcome edits that make the post easier to understand and more valuable for readers. Because community members review edits, please try to make the post substantially better than how you found it, for example, by fixing grammar or adding additional resources and hyperlinks.</p>
       </div>

        

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
        {{form}}
        </div>
        <button type="submit">Save Changes</button>
    </form>
</div>

    
 

</div>

<div id="sidebar" class="ask-sidebar">
    <div id="scroller-anchor"></div>
      <div id="scroller">
          <div class="s-sidebarwidget s-sidebarwidget__yellow mb12" id="how-to-title">
            <div class="s-sidebarwidget--header">How to Edit</div>
              <ul class="s-sidebarwidget--content s-sidebarwidget__block-items s-sidebarwidget__items list-ls-disc list-inside">
                  <li class="my12">Correct minor typos or mistakes</li>
                  <li class="my12">Clarify meaning without changing it</li>
                  <li class="my12">Add related resources or links</li>
                  <li class="my12"><i>Always</i> respect the author’s intent</li>
                  <li class="my12">Don&#x2019;t use edits to reply to the author</li>
              </ul>
          </div>
      </div>
</div>


<br class="cbt">

        </div>
    </div>



            {% include "profile/footer.html" %}


    <div id="onetrust-consent-sdk" class="d-none"></div>
    <div id="onetrust-banner-sdk" data-controller="s-modal"></div>
    <div id="ot-pc-content" class="d-none"></div>
    <div id="onetrust-style" class="d-none">&nbsp;</div>
    <div class="d-none js-consent-banner-version" data-consent-banner-version="baseline"></div>



<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/mode-markdown.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/ext-language_tools.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/theme-github.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/typo.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/spellcheck.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/resizable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/plugins/js/emojis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MarkDown-Editor/martor/js/martor.bootstrap.min.js' %}"></script>



    </body>
    </html>









{% endblock content %}

