{% extends 'profile/base.html' %}
{% load qa_tags %}


{% block content %}


<!DOCTYPE html>


    <html class="html__responsive ">

    <head>

        <title>Badges - Stack Overflow - Clone</title>
            <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=34c234f84be8">
    </head>
    <body class="badges-page unified-theme">
    <div id="notify-container"></div>
    <div id="custom-header"></div>

    <div class="container">
            


{% include 'profile/left_sidebar.html' %}




        <div id="content" class="snippet-hidden">

            
<div id="mainbar">
    <div data-can-be="badges-legend-module" data-is-here-when="sm md"></div>
    <div>
        <div class="general">
        	<h2 class="mt32">Question Badges</h2>
{% for tag in tags %}        	
        <div class="mb6 pt6 bt bc-black-075">

	<div class="d-flex ai-center py4 btw0 md:fd-column md:ai-start">
	    <div class="d-flex ai-center wmn2 md:mb4">
	        <div class="flex--item w24">
	        </div>
	        <div class="flex--item">
	            <a href="{% url 'profile:tagPage' user.id tag.id %}" title="bronze badge: First bounty you manually award on another person&#39;s question" class="badge m0"><span class="badge3"></span>&nbsp;{{tag.tag_name}}</a>
	        </div>
	    </div>
    	<div class="d-flex fl-grow1 ai-center md:w100">


        <div class="w24 fl-shrink0 d-none md:d-block"></div> 
        <div class="flex--item fl-grow1">
            {{tag.description}}
        </div>

        <div class="flex--item ml6 wmn1 md:wmn-initial ta-right fc-light fl-shrink0">
                <span title="10,451"></span></div>
    </div>
</div>

            </div>
            <br>
            {% endfor %}
            <div class="mb6 pt6 bt bc-black-075">

            </div>
        </div>
    </div>


</div>
<div id="sidebar" class="faq-page">
    <nav class="s-sidebarwidget mb24" id="toc">
    <ul class="s-sidebarwidget--content s-sidebarwidget__items">
                <li class="s-sidebarwidget--item"><a aria-current="false" href="{% url 'help:privileges' %}">Privileges</a></li>
                <li class="s-sidebarwidget--item"><a aria-current="page" href="{% url 'tagbadge:badges' %}">Badges</a></li>
    </ul>
</nav>
    <div class="module" id="badges-legend-module" data-is-here-when="lg">
            <div class="d-flex flex__fl-grow1 fd-column gs16 md:fd-row sm:fd-column">
                <div class="flex--item">
                    <div>
                        <a href="#" title="bronze badge: awarded frequently" class="badge "><span class="badge3"></span>&nbsp;Bronze Badge</a>
                    </div>
                    <div>
                        Bronze badges encourage users to try out new features on the site. They are easy to get if you try!
                    </div>
                </div>
                <div class="flex--item">
                    <div>
                        <a href="#" title="silver badge: awarded occasionally" class="badge "><span class="badge2"></span>&nbsp;Silver Badge</a>
                    </div>
                    <div>
                        Silver badges are less common than bronze ones. You&#x27;ll need to plan your strategy to get one of these.
                    </div>
                </div>
                <div class="flex--item">
                    <div>
                        <a href="#" title="gold badge: awarded rarely" class="badge "><span class="badge1"></span>&nbsp;Gold Badge</a>
                    </div>
                    <div>
                        Gold badges recognize important contributions from members of the community. They are rarely awarded.
                    </div>
                </div>
            </div>

    </div>
    <div class="module" id="recent-badges">
    <h4 id="h-recent-badges">Recent Badges</h4>
    <table>
        {% for recent in recentsEarned_badges %}
    <tr>
        <td>
            <a href="{% url 'profile:tagPage' recent.awarded_to_user.id recent.id %}" title="{{recent.badge_type}} : {{recent.description}}" class="badge "><span class="badge2"></span>&nbsp;{{recent.tag_name}}</a> <a href="{{recent.awarded_to_user.profile.get_absolute_url}}">{{recent.awarded_to_user}}</a>
        </td>
    </tr>
        {% endfor %}
    </table>
</div>  
</div>
        </div>
    </div>



            {% include "profile/footer.html" %}
    <div id="onetrust-consent-sdk" class="d-none"></div>
    <div id="onetrust-banner-sdk" data-controller="s-modal"></div>
    <div id="ot-pc-content" class="d-none"></div>
    <div id="onetrust-style" class="d-none">&nbsp;</div>
    <div class="d-none js-consent-banner-version" data-consent-banner-version="baseline"></div>

    
    </body>
    </html>



{% endblock content %}

