{% extends 'profile/base.html' %}
{% load humanize %}
{% load qa_tags %}

{% block content %}




    <html class="html__responsive ">

    <body class="badges-page unified-theme">
    <div id="notify-container"></div>
    <div id="custom-header"></div>
        

    <div class="container">
            


{% include 'profile/left_sidebar.html' %}




        <div id="content" class="snippet-hidden">

            


<div id="mainbar">
    <div class="single-badge-table">
        <div class="single-badge-header">
            <div class="single-badge-wrapper">
                <div class="single-badge-badge">
                            <span class="badge-earned-check" title="you&#x2019;ve earned this badge"></span>
                </div>
                <div class="single-badge-badge">
                    <a href="#" title="" class="badge "><span class="badge3"></span>&nbsp;{{tag}}</a>
                </div>
                <div class="single-badge-title">
                    {{tag.description}}
                </div>
            </div>

        </div>
    </div>

{% for badgeUser in objQ %}
    <div class="single-badge-table">
                <div class="single-badge-row-double">
                    <div class="single-badge-awarded">
                        Awarded <span class="relativetime">{{badgeUser.date|naturaltime}}</span> to
                    </div>
                    <div class="single-badge-user">
<div class="user-info">
    <div class="user-gravatar32">
        <a href="{{badgeUser.awarded_to_user.profile.get_absolute_url}}"><div class="gravatar-wrapper-32"><img src="{{badgeUser.awarded_to_user.profile.profile_photo.url}}" alt="" width="32" height="32" class="bar-sm"></div></a>
    </div>
    <div class="user-details">
        <a href="{{badgeUser.awarded_to_user.profile.get_absolute_url}}">{{badgeUser.awarded_to_user}}</a>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation score " dir="ltr">{{badgeUser.awarded_to_user|calculate_reputation}}</span>
                                <span title="{{badgeUser.awarded_to_user|calculateGoldBadges}} gold badges" aria-hidden="true">
                                    <span class="badge1"></span>
                                    <span class="badgecount">{{badgeUser.awarded_to_user|calculateGoldBadges}}</span>
                                </span>
                                <span class="v-visible-sr">{{badgeUser.awarded_to_user|calculateGoldBadges}} gold badges</span>

                                <span title="{{badgeUser.awarded_to_user|calculatSilvereBadges}} silver badges" aria-hidden="true">
                                    <span class="badge2"></span>
                                    <span class="badgecount">{{badgeUser.awarded_to_user|calculatSilvereBadges}}</span>
                                </span>
                                <span class="v-visible-sr">{{badgeUser.awarded_to_user|calculatSilvereBadges}} silver badges</span>

                                <span title="{{badgeUser.awarded_to_user|calculateBronzeBadges}} bronze badges" aria-hidden="true">
                                    <span class="badge3"></span>
                                    <span class="badgecount">{{badgeUser.awarded_to_user|calculateBronzeBadges}}</span>
                                </span>
                                <span class="v-visible-sr">{badgeUser.awarded_to_user|calculateBronzeBadges}} bronze badges</span>
                            </div>
    </div>
</div>
                    </div>
                </div>
    </div>

{% endfor %}




</div>

<div id="sidebar" class="faq-page">
    <nav class="s-sidebarwidget mb24" id="toc">
    <ul class="s-sidebarwidget--content s-sidebarwidget__items">
                <li class="s-sidebarwidget--item"><a aria-current="false" href="{% url 'help:privileges' %}">Privileges</a></li>
                <li class="s-sidebarwidget--item"><a aria-current="page" href="{% url 'tagbadge:badges' %}">Badges</a></li>
    </ul>
</nav>
</div>

        </div>
    </div>


            {% include "profile/footer.html" %}
    <div id="onetrust-consent-sdk" class="d-none"></div>
    <div id="onetrust-banner-sdk" data-controller="s-modal"></div>
    <div id="ot-pc-content" class="d-none"></div>
    <div id="onetrust-style" class="d-none">&nbsp;</div>
    <div class="d-none js-consent-banner-version" data-consent-banner-version="baseline"></div>

    
    </body>
    </html>


{% endblock content %}